<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>codeRestaurant</title>
  </head>

  <body>
    <!--mulai Membuat navbar--->
    <div class="container">
      <nav class="nav">
        <div class="nav-brand">
          <h1>cR</h1>
        </div>
        <ul class="nav-list">
          <li><a href="/">Home</a></li>
          <li><a href="#">Favorite</a></li>
          <li><a href="">About Us</a></li>
        </ul>
      </nav>
    </div>
    <!--Akhir membuat navbar-->

    <!--mulai membuat header-->
    <header class="header">
      <div class="header-inner">
        <h1>codeRestaurant</h1>
        <h3>Welcome</h3>
        <p>lauch | Diner | Breakfast</p>
      </div>
    </header>
    <!--Akhir membuat header-->

    <!-- Mulai membuat content-->
    <section class="content">
      <div class="headline-content">
        <h1 class="headline-title">Explor Restaurant</h1>
        <div class="post">
          <article class="post-item">
            <h2 class="post-item-title">Kota Bandung</h2>
            <img src="./images/heros/hero-image_1.jpg" width="450" alt="" />
            <p class="post-item-description">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              Aspernatur atque autem culpa laborum odio similique voluptas. A ab
              animi ducimus earum explicabo hic molestias repudiandae sunt.
              Consectetur consequuntur dolorum excepturi, fugit, minus nemo non
              quae quaerat quod recusandae reprehenderit totam, unde. Aliquid
              autem doloremque impedit quod tempora tenetur totam vero.
            </p>
          </article>
          <article class="post-item">
            <h2 class="post-item-title">Kota Bandung</h2>
            <img src="./images/heros/hero-image_2.jpg" width="450" alt="" />
            <p class="post-item-description">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              Aspernatur atque autem culpa laborum odio similique voluptas. A ab
              animi ducimus earum explicabo hic molestias repudiandae sunt.
              Consectetur consequuntur dolorum excepturi, fugit, minus nemo non
              quae quaerat quod recusandae reprehenderit totam, unde. Aliquid
              autem doloremque impedit quod tempora tenetur totam vero.
            </p>
          </article>
          <article class="post-item">
            <h2 class="post-item-title">Kota Bandung</h2>
            <img src="./images/heros/hero-image_4.jpg" width="450" alt="" />
            <p class="post-item-description">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              Aspernatur atque autem culpa laborum odio similique voluptas. A ab
              animi ducimus earum explicabo hic molestias repudiandae sunt.
              Consectetur consequuntur dolorum excepturi, fugit, minus nemo non
              quae quaerat quod recusandae reprehenderit totam, unde. Aliquid
              autem doloremque impedit quod tempora tenetur totam vero.
            </p>
          </article>
        </div>
      </div>
    </section>
    <!--Akhir membuat content-->

    <!-- mulai membuat footer-->
    <footer class="footer">
      <p>Copyright &copy; 2020 - Hunger Apps</p>
    </footer>
    <!--Akhir membuat footer-->
  </body>
</html>
